:root {
    --text1: #757575;
    --text-alt: #2196F3;
    --text2: #212121;
    --black: #000000;
    --white: #FFFFFF;
    --section-background: #2F303A;
    --our-team: #F5F4FA;

}

.global {

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight:400;
    color: var(--text1);
    line-height: 1.17;

}

.logo {
    color: var(--black);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    line-height: 1.17;
}

.logo>span{
    color: var(--text-alt);

}

.navigate a{
    color: var(--text2);
    
    font-weight: 500;
    font-size: 14;
    text-decoration: none;
}

.contact {
    
    font-weight: 500;
    font-size: 14;
    text-decoration: none;
    color: var(--text1);

}

.contact-portfolio{
    text-decoration: underline;
    text-decoration-color: var(--text1);
    color: var(--text1);
}

.first-section {

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
     color: var(--white);
    background-color: var(--section-background);
}
.global button {
    background-color: var(--our-team);
    color: var(--text2);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border: none;}

.first-section >button {
    background-color: var(--text-alt);
    color: var(--white);
    font-size: 16px;
    line height: 1.88;
}

.second-section {
    font-weight: 700;
    line-height: 1.17;
    color: var(--text2);
}

.second-section p {
    line-height: 1.71;
    color:var(--text1);
}

.third-section {
    font-weight: 700;
    color: var(--text2);
    line-height: 1.17;
}

.team {
    background-color: var(--our-team);
    font-weight: 700;
    color: var(--text2);
    font-size: 36px;
    line-height: 1.17;
}

.team figcaption{
    font-weight: 400;
    font-size: 16px;
    color:var(--text1)
    
}

.team span{
   font-weight:500;
   font-size:16;
    color: var(--text2);

}

.footer {
    background-color: var(--section-background);
font-style:normal;
line-height:1.71;
}

.route{
    color: var(--white);
    text-decoration: none;
    
}

.footer .logo {
   
    line-height: 1.38;
    color: var(--white);
}

.logo:focus,
.logo>span:focus,
.navigate a:focus,
.contact:focus {
    background-color: var(--white);
    color: var(--text-alt);
}

.logo:hover,
.logo>span:hover,
.navigate a:hover,
.contact:hover {
    background-color: var(--white);
    color: var(--text-alt);
    cursor: pointer;
}

.footer a:focus,
.footer a:hover,
.footer a>span:hover,
.footer a>span:focus{
    background-color: var(--section-background);
    color: var(--text-alt);
    cursor: pointer;
}


.global button:focus{
    background-color: var(--text-alt);
    color:var(--white);

}
.global button:hover{
    background-color: var(--text-alt);
        color: var(--white);
        cursor:pointer;
}

.first-section button:focus{
    background-color: var(--white);
        color: var(--text-alt);
}

.first-section button:hover {
    background-color: var(--white);
    color: var(--text-alt);
    cursor: pointer;
}
.category{
font-size:16px;
line-height:1.87;
}

.category>span{
    font-weight: 700;
    font-height: 18px;
    color: var(--text2);
    line-height: 2;
    
}
