:root {
  --text1: #757575;
  --text-alt: #2196f3;
  --text2: #212121;
  --black: #000000;
  --white: #ffffff;
  --section-background: #2f303a;
  --our-team: #f5f4fa;
}

.body {
  font-family: 'Roboto', sans-serif;
}

.logo {
  color: var(--text-alt);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.17;
}

.studio-black {
  color: var(--black);
}
.studio-black:focus,
.studio-black:hover {
  color: var(--black);
}

.navigate a {
  color: var(--text2);
  font-weight: 500;
  text-decoration: none;
}

.body .navigate a:focus,
.body .navigate a:hover {
  background-color: var(--white);
  color: var(--text-alt);
}

.contact {
  font-weight: 500;

  text-decoration: none;
  color: var(--text1);
}

.body .contact:focus,
.body .contact:hover {
  background-color: var(--white);
  color: var(--text-alt);
}

/*  body of WebStudio site */
.slogan {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  color: var(--white);
  background-color: var(--section-background);
}
.slogan button {
  background-color: var(--text-alt);
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: none;
}

.slogan button:focus,
.slogan button:hover {
  background-color: var(--white);
  color: var(--text-alt);
  cursor: pointer;
}

.article h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: var(--text2);
}

.article p {
  line-height: 1.71;
  color: var(--text1);
  font-size: 14px;
}

.our-job h2 {
  font-weight: 700;
  font-size: 36px;
  color: var(--text2);
  line-height: 1.17;
}

.team {
  background-color: var(--our-team);
}
.team h2 {
  font-weight: 700;
  color: var(--text2);
  font-size: 36px;
  line-height: 1.17;
}

.team .team-members {
  font-weight: 400;
  font-size: 16px;
  color: var(--text1);
  line-height: 1.17;
}

.team-members span {
  font-weight: 500;
  font-size: 16px;
  color: var(--text2);
  line-height: 1.17;
}

.footer {
  background-color: var(--section-background);
  font-style: normal;
  line-height: 1.71;
}

.footer .logo {
  line-height: 1.19;
}
.studio-white {
  color: var(--white);
  line-height: 1.19;
}

.route {
  color: var(--white);
  text-decoration: none;
}

.footer .contact:hover,
.footer .contact:focus {
  background-color: var(--section-background);
  color: var(--text-alt);
}

/* Portfolio site starts here */
.navigate .navigate-portfolio {
  color: var(--text-alt);
}

.filters button {
  color: var(--text2);
  background-color: var(--our-team);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: 0;
}
.filters button:focus {
  background-color: var(--text-alt);
  color: var(--white);
}
.filters button:hover {
  background-color: var(--text-alt);
  color: var(--white);
  cursor: pointer;
}
/* CATEGORY IMAGES */

.category-item {
  font-size: 16px;

  line-height: 1.87;
}

.category-item span {
  font-weight: 700;
  font-size: 18px;
  color: var(--text2);
  line-height: 2;
}

.contact-portfolio {
  text-decoration: underline;
  text-decoration-color: var(--text1);
  color: var(--text1);
}

.contact-portfolio:hover,
.contact-portfolio:focus {
  background-color: var(--section-background);
  color: var(--text-alt);
}
